body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0px;
}

:root {
    --height-header: 50px;
}

.size-header {
    height: var(--height-header);
    padding-right: 20px; 
}

.container {
    display: flex;
    align-items: center;      
}

.jc-sb {
    justify-content: space-between;
}

.jc-c {
    justify-content: center;
}

.jc-sa {
    justify-content: space-around;
}

.ai-fs {
    align-items: flex-start;
}

.fd-c {
    flex-direction: column;
}

.fd-rr {
    flex-direction: row-reverse;
}

.bgclr-white {
    background-color: white;
}

.bgclr-gray {
    background-color: rgb(128, 128, 128, 0.2);
}
.bgclr-dark-gray {
    background: rgb(55, 58, 71);
}

.clr-black {
    color: black;
}

.clr-white {
    color: white;
}

.clr-green {
    color: #30d5c8;
}

.bgs-100p {
    background-size: 100%;
}

.wdh-100p {
    width: 100%;
}

.wdh-300 {
    width: 300px;
}

.wdh-400 {
    width: 400px;
}
.wdh-1000 {
    width: 1000px;
}

.mrg-top {
    margin-top: var(--height-header);
}

.mrg-5 {
    margin: 5px;
}
.mrg-10 {
    margin: 10px;
}

.pdg-5 {
    padding: 5px;
}

.btn {
    background: rgb(255, 255, 255, 0);
    border-radius: 4px;
    margin-top: 15px;
    font-size: 16px;
}
.btn-white {
    border: 1px solid white;
    padding: 10px;
    text-decoration: none;
}

.btn-green {
    border: 1px solid #30d5c8;
    padding: 5px 20px;
    margin-right: 235px;
}

.fs-10 {
    font-size: 10px;
}

.fs-12{
    font-size: 12px;
}

.fs-16 {
    font-size: 16px;
}

.nav-link {
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
 }

 .intro {
    height: 450px;
    background: url(../images/banner.png) center no-repeat; 
 }

 .intro-title {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 48px;
}

.slogan {
    margin-top: 0px;
}

h2 {
    margin-bottom: 10px;
}

h3 {
    font-size: 12px;
    padding: 0px;
    margin-bottom: 0px;
}

p {
   font-size: 16px;
   margin-top: 0px;
}

.pdg-25-0 {
    padding: 25px 0;
 }

 .pdg-20-0 {
    padding: 20px 0;
 }

 .pgb-30 {
     padding-bottom: 30px;
 }

fieldset {
    border: solid 2px #30d5c8;
    width: 330px;
}
select {
    width: 120px;
    height: 25px;
    margin-right: 10px   
}

input {
   border-radius: 6px;
   width: 150px;
   height: 20px; 
}

.form {
    margin-top: 15px;   
}

.form-title {
    margin: 5px 5px;
    padding: 5px 0px;
    margin-right: 10px;
}
