body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --height-header: 50px;
}

header {
    position: fixed;
    top: 0px;
    height: var(--height-header);
}

.header {
    padding: 5px;
    width: 100%;
    background-color: white;
}

.m-top {
    margin-top: var(--height-header);

}

#advantages,#info,#place-to-relax,#feedback {
    border-top: var(--height-header) solid transparent;
    margin-top: calc(var(--height-header) * (-1));
    -moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
    
}
   
.container {
    display: flex;
    align-items: center;      
}

.justify-content-between  {
    justify-content: space-between;
}

.justify-content-center   {
    justify-content: center;
}

.justify-content-around   {
    justify-content: space-around;
}

.align-items-start  {
    align-items: flex-start;
}

.flex-direction-column  {
    flex-direction: column;
}

.flex-direction-row-reverse  {
    flex-direction: row-reverse;
}

.bgcolor-white {
    background-color: white;
}

.bgcolor-gray {
    background-color: rgb(128, 128, 128, 0.2);
}
.bgcolor-dark-gray {
    background: rgb(55, 58, 71);
}

.color-black {
    color: black;
}

.color-white {
    color: white;
}

.color-green {
    color: #30d5c8;
}

.w-100p {
    width: 100%;
}

.w-300 {
    width: 300px;
}

.w-400 {
    width: 400px;
}
.w-1000 {
    width: 1000px;
}

.m-5 {
    margin: 5px;
}
.m-10 {
    margin: 10px;
}

.p-5 {
    padding: 5px;
}

.btn {
    background: rgb(255, 255, 255, 0);
    border-radius: 4px;
    margin-top: 15px;
    font-size: 16px;
}
.btn-white {
    border: 1px solid white;
    padding: 10px;
    text-decoration: none;
}

.btn-green {
    border: 1px solid #30d5c8;
    padding: 5px 20px;
    margin-right: 235px;
}

.font-size-10 {
    font-size: 10px;
}

.font-size-12{
    font-size: 12px;
}

.font-size-16 {
    font-size: 16px;
}

.nav-link {
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
    padding-right: 20px;
 }

 .intro {
    padding: 70px;
    background: url(../images/banner.png) center no-repeat; 
 }

 .intro-title {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 48px;
}

.slogan {
    margin-top: 0px;
}

h2 {
    margin-bottom: 10px;
}

h3 {
    font-size: 12px;
    padding: 0px;
    margin-bottom: 0px;
}

p {
   font-size: 16px;
   margin-top: 5px;
}

.p-25-0 {
    padding: 25px 0;
 }

 .p-20-0 {
    padding: 20px 0;
 }

 .pgb-30 {
     padding-bottom: 30px;
 }

fieldset {
    border: solid 2px #30d5c8;
    width: 330px;
}
select {
    width: 120px;
    height: 25px;
    margin-right: 10px   
}

input {
   border-radius: 6px;
   width: 150px;
   height: 20px; 
}

.form {
    margin-top: 15px;   
}

.form-title {
    margin: 5px 5px;
    padding: 5px 0px;
    margin-right: 10px;
}
